<nav class="navbar navbar-expand-lg bg-white sticky-top border-bottom">
  <div class="container-fluid">
    <!-- <a class="navbar-brand fw-bold" href="#">sunless</a> -->
    <img src="/assets/img/logo.png" class="logo-img" alt="" routerLink="">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mx-auto navbar-links">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class=" d-flex mx-auto gap-3">
            <li class="nav-item">
              <a class="nav-link  fw-bold" aria-current="page"  routerLink="">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link fw-bold" routerLink="products">
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="" >Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" routerLink="">More</a>
            </li>
          </div>

        </ul>
      </div>
      <button class="btn btn-outline bb ms-3"  type="submit" routerLink="/cart">
cart
<img class="cart" src="../../../assets/img/cart.png" alt="">
<button  [ngStyle]="{'background-color': CartCounter > 0 ? 'red' : '' , 'color':CartCounter> 0 ? 'white':'','display':CartCounter == 0 ? 'none':''}" class="btn btn-cart disabled">{{CartCounter}}</button>
      </button>

      <p></p>

      </div>

   </div>
</nav>
