<div class="container py-5">
  <h1 class="mb-5">Your Cart</h1>
  <div *ngIf='carrt.length == 0'>
  <p class="fs-4">You Didn't Add Something To Your Cart !</p>
  </div>
 <div class="mb-3" *ngFor="let product of carrt"  >
  <div class=" text-start d-flex flex-row">
    <img class="card-img-top col-4 me-5" [src]="product.imgURL" alt="Title" />
    <div class="card-body col-4">
      <h4 class="card-title">{{product.name}}</h4>
      <p class="card-text">{{product.detials}}</p>
    </div>
    <button type="button" class="btn btn-danger me-2" (click)="Remove(product)">Remove</button>
  </div>
  <hr>
 </div>
 <div class="container d-flex flex-row   justify-content-end ">
   <button  class=" btn btn-warning col-4 fs-5 " [ngClass]="{'disabled':carrt.length == 0}" routerLink="/order" (click)="EmptyCart()">Checkout</button>
 </div>

</div>
