@font-face {
  font-family: 'Poppins-Regular';
  src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
}

body {
  font-family: 'Poppins-Regular', sans-serif !important;
}

.img-container{
background-image: url(/assets/img/2875m7.jpg);
height: 40rem;
background-size:cover;
}

.hero-header{
  font-weight:bold;
  font-size:4rem;
  color: white;
  margin-top: 10rem;
}
.hero-header2{
  font-size:2rem;
  color: rgb(211, 211, 211)
}
.hero-btn {
  padding: 0.8em 1.8em;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  transition: .3s;
  z-index: 1;
  color: white;
   font-weight:bold;
 }

 .hero-btn::before {
  content: '';
  width: 0;
  height: 400%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }

 .hero-btn:hover::before {
  width: 105%;
 }

 .hero-btn:hover {
  color: #111;
 }

 .brand-logo{
  width: 7rem;
 }
 .brand-logo3{
  width: 8rem;
 }

 .brand-logo1{
  width: 15rem;
 }
 .sec2-header{
  font-weight:bold;
  font-size:2rem;
  opacity: 70%;
  margin-top: 6rem;
 }
 .brand-container{
gap: 10rem;
 }
 .sec3-header{
  font-weight:bold;
  font-size:2rem;
  opacity: 70%;
  margin-top:3rem;
 }
 .cardd{
  width: 20rem;
  height: 29rem;
  border-radius: 2rem;
  padding: 2rem;

 }
a{
  text-decoration: none !important;
}


 .glass-img{
  width:100%;
 }
 .discount{
  text-decoration: line-through;
  margin: 0;
 }
 .sec4{
  height: 40rem;
  margin-top: 5rem;
 }
 .sec4-img{
  width: 80rem ;
  border-radius: 2rem;
  height: 38rem ;
  position: absolute;

 }
 .sec4-header{
  font-weight:bold;
  font-size:3rem;
  position: absolute;
  margin-top: 12rem;
  margin-left: 45rem;
 }
 .sec4-header2{
  font-weight:bold;
  color: rgba(210, 210, 210, 0.879);
  font-size:1.5rem;
  position: absolute;
  margin-top: 17rem;
  margin-left: 50rem;
 }
 .sec4-btn{
  margin-top: 22rem;
  margin-left: 56rem;
 }
 .sec3{
  /* margin: 4px, 4px;
            padding: 4px;
            background-color: #ffffff;
            width:auto;
            overflow-x: auto;
            overflow-y: hidden; */
 }


 @media screen and (max-width:550px) {

  .sec1 .hero-header {
    font-size: 20px;
  }
  .res-del{
    display: none;
  }

  .img-container{
    background-image: url(/assets/img/hero_img.jpg);

    background-size:cover;

    }

  .sec1 .hero-header2 {
    font-size: 13px;
    margin-bottom: 30px;

  }
  .sec1 .hero-btn {
    padding: 10px 20px;
    font-size: 16px;
        margin-bottom: 30px;

  }
  .brand-logo{
width: 40px;  }
   .brand-logo3{
    width: 60px;
   }
   .brand-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center !important;

     }

   .brand-logo1{
    width: 100px;
   }
  .offers-container{
    display: grid !important;
    grid-template-columns: 1fr;
      justify-items: center;
      gap: 10px !important;
    }
   .cardd{
    width: 200px !important;
    height: 330px !important;
    padding-bottom: 7px;
    gap:10px;

  }
  .cardd-name{
    font-size: 20px !important;
  }
  .xx{
    font-size: 20px !important;
  }
  .cardd-detials{
display: none;  }
  .btncart{

  }

  .sec2 .sec2-header {
    font-size: 24px;
  }

  .brand-container img {
    max-width: 100px;
  }

  .sec3-header {
    font-size: 24px;
  }

  .offers-cards {
    width: 200px;
  }

  .sec4 .sec4-header {
    font-size: 13px;
    position: absolute;
    margin-top: 20px;
  margin-left: 180px;

  }
  .sec4 .sec4-header2 {
    font-size: 7px !important;
    position: absolute;
    margin-top: 50px;
    margin-left: 200px;
    font-size: 15px;

  }
  .sec4{
    height: 300px;
  }
  .sec4 .sec4-btn {
    padding: 10px 20px;
    font-size: 7px;
    margin-top: 87px;
    margin-left: 210px;
  }
  .sec4-img{
  width: 350px ;
  height: 166px ;
  border-radius: 10px;
  }

}

/* @media screen and (max-width: 1000px) {


  .sec1 .hero-header {
    font-size: 24px;
  }

  .img-container{
    background-image: url(/assets/img/2875m7.jpg);
    height: 480px;
    width: 720px;
    background-size:cover;
    }

  .sec1 .hero-header2 {
    font-size: 18px;
  }
  .sec1 .hero-btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .brand-logo{
width: 100px;  }

   .brand-logo3{
    width: 140px;
   }
   .brand-container{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center !important;

     }

   .brand-logo1{
    width: 200px;
   }
  .offers-container{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    justify-content: center !important;
  }
   .cardd{
    width: 320px !important;
    height: 450px !important;
    padding-bottom: 7px;

  }
  .btncart{
    margin-bottom: 7px;
  }

  .sec2 .sec2-header {
    font-size: 24px;
  }

  .brand-container img {
    max-width: 100px;
  }

  .sec3-header {
    font-size: 24px;
  }

  .offers-cards {
    width: 200px;
  }

  .sec4 .sec4-header {
    font-size: 30px;
    position: absolute;
    margin-top: 30px;
  margin-left: 380px;

  }
  .sec4 .sec4-header2 {
    font-size: 18px !important;
    position: absolute;
    margin-top: 90px;
    margin-left: 395px;
    font-size: 15px;

  }
  .sec4{
    height: 300px;
  }
  .sec4 .sec4-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 170px;
    margin-left: 450px;
  }
  .sec4-img{
  width: 720px ;
  height: 341px ;
  border-radius: 10px;
  }

} */
