<section class="sec1 ">
  <div class="img-container container d-flex flex-column align-items-center justify-content-center">
    <h1 class="hero-header ">Change Your outlook on World</h1>
    <h2 class="hero-header2 text-center ">Discover the Latest Trends in Eyewear <br>at Our Exclusive Store.</h2>
    <button class="hero-btn">Discover Now</button>
  </div>

</section>
<!-- /////////////////////////////////////////// -->
<section class="sec2 container  ">
  <div>
    <h1 class="text-center text-dark sec2-header mb-3">OUR PARTNERS</h1>
  </div>
  <div class="brand-container d-flex flex-row  mt-5 justify-content-center">
    <img class="brand-logo1" src="/assets/svg/Ray-Ban.png" alt="">
    <img class="brand-logo" src="/assets/svg/Gucci.png" alt="">
    <img class="brand-logo3" src="/assets/svg/Oakley.png" alt="">
    <img class="brand-logo3" src="/assets/svg/Tom-ford.png" alt="">
  </div>
</section>
<!-- /////////////////////////////////////////// -->
<section  class="sec3 container">
  <h1 class="sec3-header text-center">Most Popular</h1>
  <div class="offers-container d-flex flex-row gap-5 justify-content-center">
    <div *ngFor="let prod of products " class="offers-cards   mt-5">
      <div class="cardd shadow-lg d-flex flex-column justify-content-between">
        <div class="d-flex flex-row justify-content-end mb-3"><i class="fa-regular fa-heart fs-4" style="color: #707070;"></i></div>
        <a href=""><img class="glass-img mb-3" [src]="prod.imgURL" alt=""></a>
        <a href=""><p class="fs-3 text-dark">{{prod.name}}</p></a>
        <p>{{prod.detials}}</p>
        <div><span *ngIf="prod.sale == true" class="discount text-danger fs-4">{{prod.prise}}$</span>
        <span  class="text-dark fs-3 ">{{prod.prise-(prod.prise*(prod.salePercinage/100))}}$</span></div>
      <button class="btn btn-outline-dark" (click)="onProudSelect(prod)">Add to Cart</button>
      </div>
    </div>
  </div>
</section>


<section class="sec4 container mb-5 ">

  <img class="sec4-img" src="/assets/img/wallpaperflare.com_wallpaper2.jpg" alt="">
  <h1 class="sec4-header text-end text-white me-5">Dicover our Discounts</h1>
  <h2 class="sec4-header2 text-end  me-5">Huge Discounts For New Session</h2>
  <button class="hero-btn sec4-btn">Discover Now</button>

</section>

