body::-webkit-scrollbar{
  width: 7px;
}

body::-webkit-scrollbar-track{
  background: rgb(255, 204, 204);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(227, 1, 1);
  border-radius: 20px;
}
